/* $Id: twocol.css,v 1.1.2.1 2008/12/16 21:27:58 merlinofchaos Exp $ */

.panel-twocol { 
/*  overflow: hidden;  */
}

.panel-col-first25 { 
  float: left; 
  width: 23%;
  padding-right:1%;
}

.panel-col-first25 .inside { 
  margin: 0 .5em 1em 0;
}

.panel-col-last75 { 
  float: left; 
  width: 75%;
}
* html .panel-col-last75 {
  width: 75%;
}

.panel-col-last75 .inside { 
  margin: 0 0 1em .5em;
}

#panels-edit-display .panel-pane,
#panels-edit-display .helperclass {
  margin: .5em;
}

.panel-separator {
  margin: 0 0 1em 0;
}
