/* for Table like layout using CSS */
.container {
    display: block;
    width: 100%;
}

.row  {
    display: block;
    float:left;
    width: 100%;
    padding: 5px;
}

.row-paddingbottom  {
    display: block;
    float:left;
    width: 100%;
    padding-bottom: 10px;
}

.row-nopadding  {
    display: block;
    float:left;
    width: 100%;
}

.column2heading {
    display: block;
    float:left;
    width: 30%;
    white-space:nowrap;
}

.column2content {
    display: block;
    float:left;
    width: 70%;
}

.column2 {
    display: block;
    float:left;
    width: 50%;
}

.column3-1, .column3-2, .column3-3 {
    display: block;
    float:left;
    width: 33%;
}

.column4-1, .column4-2, .column4-3, .column4-4 {
    display: block;
    float:left;
    width: 24.5%;
}

.column5-1, .column5-2, .column5-3, .column5-4, .column5-5 {
    display: block;
    float:left;
    width: 20%;
}

.column {
    display: block;
    float:left;
}

.column-padding2 {
    display: block;
    float:left;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;        
}

.column-padding {
    display: block;
    float:left;
    padding-top: 18px;
}

.footNoteText {
    color: #990100;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.hiddenText {
    position: absolute;
    left: -9999px;
    background-color: #FFFFFF;
}

.headLeft {
	width:40%;
}

.headRight {
	width:20%;
}

.cellhead {
	background-color:#330066; 
	color:#FFFFFF; 
	text-align:center;
}
.border {
	border:1px solid #330066;
}
